html, body{
  margin: 0;
  height: 100%;
  width: 100%;
}

.master-flex{
  display: flex;
  flex-direction: row;
}

.add-form{
    width: 100%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
  }


.child-flex{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.8;
}

.content{
  margin-top: 15%;
display: flex;
flex: 0.8;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
}

.meme-image{
   /* width: 400px;
  height: 400px; */
  margin-top: 20px;
  border: 2px solid lightgray;
  padding: 10px;
  /*
  border: 2px solid #fff;
  object-fit: scale-down; */
}

.meme-image img {
  width: 400px;
  height: 400px;
}

.centering {
  text-align: center;
  margin: 0 auto;
  transform: translateY(30%);
}

.side-category {
  flex: 0.2;
  display: flex;
  /* position: fixed; */
  /* left: 0; */
  /*
  width: 160px;
  position: fixed; */
  /* z-index: 1; */
  /* top: 0; */
  /* left: 0; */
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.side-text p {
  position: fixed;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.header {
  position: fixed;
  flex: 0.2;
  /* top: 0; */
  width: 80%;
  background-color: #333;
  font-size: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: "center";
  justify-content: "center";
}

.header-text {
  width: 100%;
  height: 40px;
  text-align: center;
  margin: 0 auto;
}

.navbar {
  list-style: none;
  text-align: center;
}

.navbar li {
  display: inline;
  margin: 0 45px 0 45px;
  text-decoration: none;
  font-size: 25px;
}

/* .sidenav a:hover {
    color: #f1f1f1;
  } */

.body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 15%;
  width: 100%;
  height: 100%; */
}

.wallpaper {
  background-image: url("./src/wallpaper-meme.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.totally-centered {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.totally-centered h1 {
  list-style: none;
  text-align: center;
}

.card-container {
  height: 45vh;
  width: 35vw;
  border: 1px solid black;
}
